$font-family-heading: "Nunito", sans-serif !important;
$font-family-base: "Nunito", sans-serif !important;
$headings-font-family: "Nunito", sans-serif !important;
$sidebar-left-width: "80px" !important;
$font-size-base: 0.813rem;

// // LAYOUT VARS
// $topbar-height: 80px;
// $topbar-height-mobile: 70px;

// $sidebar-left-width: 120px;
// $sidebar-left-width-mobile: 90px;
// $sidebar-left-secondary-width: 220px;
// $sidebar-left-secondary-width-mobile: 190px;
// $side-clearance: 20px;

// GLOBAL COLORS
$facebook: rgb(55, 101, 201);
$google: rgb(236, 65, 44);
$twitter: rgb(3, 159, 245);

button{
  outline-style: inherit !important;
}
.pagehead {
  margin: 0px !important;
  padding: 0px 10px 0px 0px;
}

.headerpage {
  margin: 0px !important;
}

input {
  font-family: "Nunito", sans-serif !important;
}

.butcss1 {
  padding: 8px 20px 8px 20px;
  background-color: #0095fc !important;
  outline: none;
  border: none;
  border-radius: 4px;
  width: max-content;
  color: white;
}

.butcss2 {
  padding: 8px 20px 8px 20px;
  background-color: gray !important;
  outline: none;
  border-radius: 5px;
  width: max-content;
  color: white;
}

.butcss3 {
  padding: 5px 13px 5px 13px;
  background-color: #ffffff !important;
  outline: none;
  border: 1px solid #b3b3b3;
  border-radius: 2px;
  font-size: 12px;
  width: -webkit-max-content;
  width: max-content;
  color: #484848;
}


.centers {
  display: flex;
  align-items: center;
  justify-content: center;
}

.color01 {
  --bg-color: #3c8eeb;
  --bg-color-light: #ffffff;
  --text-color-hover: #3c8eeb;
  --box-shadow-color: rgba(223, 223, 223, 0.48);
}

.color02 {
  --bg-color: #2baae9;
  --bg-color-light: #ffffff;
  --text-color-hover: #2baae9;
  --box-shadow-color: rgba(220, 233, 255, 0.48);
}

.color03 {
  --bg-color: #1eceeb;
  --bg-color-light: #f2fff8;
  --text-color-hover: #1eceeb;
  --box-shadow-color: rgba(240, 240, 240, 0.48);
}

.color04 {
  --bg-color: #0bebf0;
  --bg-color-light: #fffcf2;
  --text-color-hover: #0bebf0;
  --box-shadow-color: rgba(252, 252, 252, 0.48);
}

.color05 {
  --bg-color: #00feee;
  --bg-color-light: #ffffff;
  --text-color-hover: #00feee;
  --box-shadow-color: rgba(223, 223, 223, 0.48);
}

.color06 {
  --bg-color: #1f522f;
  --bg-color-light: #ffffff;
  --text-color-hover: #1f522f;
  --box-shadow-color: rgba(220, 233, 255, 0.48);
}

.color07 {
  --bg-color: #49942a;
  --bg-color-light: #f2fff8;
  --text-color-hover: #49942a;
  --box-shadow-color: rgba(240, 240, 240, 0.48);
}

.color08 {
  --bg-color: #71b41a;
  --bg-color-light: #fffcf2;
  --text-color-hover: #71b41a;
  --box-shadow-color: rgba(252, 252, 252, 0.48);
}

.color09 {
  --bg-color: #a1d604;
  --bg-color-light: #ffffff;
  --text-color-hover: #a1d604;
  --box-shadow-color: rgba(220, 233, 255, 0.48);
}

.color10 {
  --bg-color: #caff63;
  --bg-color-light: #f2fff8;
  --text-color-hover: #caff63;
  --box-shadow-color: rgba(240, 240, 240, 0.48);
}

.color11 {
  --bg-color: #9e760e;
  --bg-color-light: #fffcf2;
  --text-color-hover: #9e760e;
  --box-shadow-color: rgba(252, 252, 252, 0.48);
}

.color12 {
  --bg-color: #bc9530;
  --bg-color-light: #ffffff;
  --text-color-hover: #bc9530;
  --box-shadow-color: rgba(223, 223, 223, 0.48);
}

.color13 {
  --bg-color: #f9b902;
  --bg-color-light: #ffffff;
  --text-color-hover: #f9b902;
  --box-shadow-color: rgba(220, 233, 255, 0.48);
}

.color14 {
  --bg-color: #f8c83f;
  --bg-color-light: #f2fff8;
  --text-color-hover: #f8c83f;
  --box-shadow-color: rgba(240, 240, 240, 0.48);
}

.color15 {
  --bg-color: #ffef2e;
  --bg-color-light: #fffcf2;
  --text-color-hover: #ffef2e;
  --box-shadow-color: rgba(252, 252, 252, 0.48);
}

.mat-input-element {
  caret-color: #0095fc;
}

// .mat-radio-outer-circle,
// .mat-radio-inner-circle,
// .mat-radio-button,
// .mat-accent.mat-radio-checked
//  {
//   height: 16px !important;
//   width: 16px !important;
//   background-color: #03a9f4 !important;
// }
