.breadcrumb {
    background: transparent;
    align-items: center;
    // margin: 0 0 1.25rem;
    // padding: 0;
    margin-bottom:0px !important; 
    h1 {
        font-size: 1.5rem;
        line-height: 1;
        padding-right: .5rem;
        margin: 0;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            display: inline-block;
            position: relative;
            padding: 0 .5rem;
            line-height: 1;
            vertical-align: bottom;
            color: $gray-600;
            &:after {
                position: absolute;
                top: -1px;
                right: 3px;
                content: ">";
                height: 16px;
                width: 0px;
                margin-top: 2px;
                background: $gray-600;
                border-radius: 5px;
                color: #B1B1B1;
            }
            &:last-child {
                &:after {
                    display: none;
                }
            }
            a {
                color: $heading;
                margin: 0px 5px 0px 5px;
            }
        }
    }
}

[dir="rtl"] {
    .breadcrumb {
        h1 {
            padding-right: 0;
            padding-left: .5rem;
        }
    }
}