<body>

  <ion-app>
    <ion-header [translucent]="true">
      <ion-toolbar style="background-color: #0095fc;">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
          <ion-icon name="arrow-back-outline" (click)="backicon()"></ion-icon>
        </ion-buttons>
        
        <ion-title>{{projectName}}</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content fullscreen >
      <!-- <ion-card>
      <ion-button color="primary" (click)="logout()">Logout</ion-button>
      </ion-card> -->
    <ion-card *ngIf="isdocumentsFound">  
      <ion-card *ngFor="let document of documentList" (click)="shotlist(document._id,document.documentname)">
        <!-- <ion-grid> -->
          <ion-row >
            <ion-col size="1">
            </ion-col>
            <ion-col style="margin-top:20px;" size="1">
              <img width="110" src="./assets/images/dots.png" />
            </ion-col>
            <ion-col size="5">
                <ion-card-header>
                  <!-- <ion-card-subtitle>Destination</ion-card-subtitle> -->
                  <!-- <ion-card-title style="font-size: 20px;">Import_1 Last Modified</ion-card-title> -->
                    <ion-card-subtitle class="i-Folder i0" >{{document.documentname}}</ion-card-subtitle>
                    <!-- <ion-card-subtitle>{{ project.created_at | date : 'dd-MM-yyyy'}}</ion-card-subtitle>
                    <ion-card-subtitle>by {{project.userId.first_name}}</ion-card-subtitle> -->
                  </ion-card-header>
            </ion-col>
            <ion-col size="5">
              <ion-card-header>
                  <!-- <ion-card-subtitle>{{document.updated_at | date:'MMM d, y h:mma'}}</ion-card-subtitle> -->
                  <ion-card-subtitle>{{document.updated_at | date:'MMM d'}}</ion-card-subtitle>
                </ion-card-header>
          </ion-col>
          </ion-row>
        <!-- </ion-grid> -->
      </ion-card>
    </ion-card>


      

    </ion-content>
    
    

    </ion-app>
  </body>
  