
<ion-content  >
  <ion-card *ngFor="let arr of data" >
    <ion-card-header>
      <!-- <ion-card-subtitle>1</ion-card-subtitle> -->
      <ion-card-title>TAKE {{arr}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <P>Take Details</P>
    </ion-card-content>
  </ion-card>
</ion-content>
 
<ion-footer>
  <ion-toolbar>
    <ion-button expand="block"  color="primary" (click)="openPopUp()">+Add Take</ion-button>
  </ion-toolbar>
</ion-footer>

