
    <ion-header>
      <ion-toolbar>
        <ion-title>Create Take</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="popupclose()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    
    <ion-content>
      <ion-item>
        <ion-label style="color:grey;" position="floating" >Take</ion-label>
        <ion-input type="text" [(ngModel)]="take.takeno"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" style="color:grey;" position="floating">Memory</ion-label>
        <ion-input type="text" [(ngModel)]="take.memory"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label style="color:grey;">Reference:</ion-label>
        <ion-textarea rows="6" cols="20" [(ngModel)]="take.Reference" placeholder="Enter any Reference here..."></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label style="color:grey;">Notes:</ion-label>
        <ion-textarea rows="6" cols="20" [(ngModel)]="take.notes" placeholder="Enter any notes here..."></ion-textarea>
      </ion-item>
  </ion-content>
 
  <ion-footer>
    <ion-toolbar>
      <ion-button expand="block" (click)="popupdetails()"  color="primary" >Save</ion-button>
    </ion-toolbar>
  </ion-footer>
  
