<body>
  
  <ion-app>
    <ion-header class="H-title" [translucent]="true">
      <ion-toolbar style="background-color: #0095fc;">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Projects</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content fullscreen >
      <!-- <ion-card>
      <ion-button color="primary" (click)="logout()">Logout</ion-button>
      </ion-card> -->


    <ion-card *ngIf="isRecordFound">  
      <ion-card *ngFor="let project of projects" (click)="ProjectWritedocument(project._id,project.projectname)">
        <!-- <ion-grid> -->
          <ion-row >
            <ion-col size="2">
            </ion-col>
            <ion-col style="margin-top:35px;" size="2">
              <img width="110" src="./assets/images/photo.png" />
            </ion-col>
            <ion-col size="7">
                <ion-card-header>
                  <!-- <ion-card-subtitle>Destination</ion-card-subtitle> -->
                  <ion-card-title style="font-size: 20px;">{{project.projectname}}</ion-card-title>
                    <ion-card-subtitle>3 Documents</ion-card-subtitle>
                    <ion-card-subtitle>{{ project.created_at | date : 'dd-MM-yyyy'}}</ion-card-subtitle>
                    <ion-card-subtitle>by {{project.userId.first_name}}</ion-card-subtitle>
                  </ion-card-header>
            </ion-col>
          </ion-row>
        <!-- </ion-grid> -->
      </ion-card>
    </ion-card>


      

    </ion-content>
    
    

    </ion-app>
  </body>
  