.H-title {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.05em;
    margin-bottom: 1.25em;
    text-transform: uppercase;
    background-color:#0095fc;
  }
  // .f_12{
  //   font-size: 21px;
  // }