<ion-content  >
      <ion-list>
            <ion-list-header class="custom-height">Shot Description...</ion-list-header>
            <ion-item>
                  <ion-label color="secondary" *ngIf="shot_typelocal.ShotDescription != '' ">{{shot_typelocal.ShotDescription}}</ion-label>
            </ion-item>
      </ion-list>
      <ion-list >
            <ion-list-header class="custom-height"> Shot Size </ion-list-header>
            <ion-item>
                  <ion-label color="secondary" *ngIf="shot_typelocal.shotsize.closeups.options != '' " >{{shot_typelocal.shotsize.closeups.options}} </ion-label>
                 
                  <ion-label color="secondary" *ngIf="shot_typelocal.shotsize.longshots.options != '' " >{{shot_typelocal.shotsize.longshots.options}} </ion-label>
                 
                  <ion-label color="secondary" *ngIf="shot_typelocal.shotsize.mediumshots.options != '' " >{{shot_typelocal.shotsize.mediumshots.options}} </ion-label>
                 
            </ion-item>
      </ion-list>

      <ion-list>
            <ion-list-header class="custom-height"> Shot Type </ion-list-header>
            <ion-item>
                  <ion-label color="secondary" *ngIf="shot_typelocal.shottype.cameraheight.options != ''">{{shot_typelocal.shottype.cameraheight.options}}</ion-label>
                  <ion-label color="secondary" *ngIf="shot_typelocal.shottype.dutchangle.options != ''">{{shot_typelocal.shottype.dutchangle.options}}</ion-label>
                  <ion-label color="secondary" *ngIf="shot_typelocal.shottype.focus_dof.options != ''">{{shot_typelocal.shottype.focus_dof.options}}</ion-label>
            </ion-item>
      </ion-list>
      <ion-list>
            <ion-list-header class="custom-height"> Camera </ion-list-header>
            <ion-item>
                  <ion-label color="secondary">{{shot_typelocal.camera.camera.options}}</ion-label>
            </ion-item>
      </ion-list>
      <ion-list>
            <ion-list-header class="custom-height"> Movement </ion-list-header>
            <ion-item>
                  <ion-label color="secondary" *ngIf="shot_typelocal.movement.cameramovement.options != '' ">{{shot_typelocal.movement.cameramovement.options}}</ion-label>
            </ion-item>
      </ion-list>
      <ion-list>
            <ion-list-header class="custom-height"> VFX </ion-list-header>
            <ion-item>
                  <ion-label color="secondary" *ngIf="shot_typelocal.vfx.vfx.options != '' ">{{shot_typelocal.vfx.vfx.options}}</ion-label>
            </ion-item>
      </ion-list>
      <ion-list>
            <ion-list-header class="custom-height"> Equipments </ion-list-header>
            <ion-item>
                  <ion-label color="secondary" *ngIf="shot_typelocal.equipments.direction.options != '' ">{{shot_typelocal.equipments.direction.options}}</ion-label>
                  <ion-label color="secondary" *ngIf="shot_typelocal.equipments.mechanism.options != '' ">{{shot_typelocal.equipments.mechanism.options}}</ion-label>
                  <ion-label color="secondary" *ngIf="shot_typelocal.equipments.tracks.options != '' ">{{shot_typelocal.equipments.tracks.options}}</ion-label>
            </ion-item>
      </ion-list>
      <ion-list>
            <ion-list-header class="custom-height"> Lens </ion-list-header>
            <ion-item>
                  <ion-label color="secondary" *ngIf="shot_typelocal.lens.angleofview.options != '' ">{{shot_typelocal.lens.angleofview.options}}</ion-label>
                  <ion-label color="secondary" *ngIf="shot_typelocal.lens.primes.options != '' ">{{shot_typelocal.lens.primes.options}}</ion-label>
            </ion-item>
      </ion-list>
      <ion-list>
            <ion-list-header class="custom-height"> Frame Rate </ion-list-header>
            <ion-item>
                  <ion-label color="secondary" *ngIf="shot_typelocal.framerate.framerate.options != '' ">{{shot_typelocal.framerate.framerate.options}}</ion-label>
            </ion-item>
      </ion-list>
      <ion-list>
            <ion-list-header class="custom-height">Special Equipment</ion-list-header>
            <ion-item>
                  <ion-label color="secondary" *ngIf="shot_typelocal.specialequipments.options != '' ">{{shot_typelocal.specialequipments.options}}</ion-label>
            </ion-item>
      </ion-list>
      <ion-list>
            <ion-list-header class="custom-height">Lighting</ion-list-header>
            <ion-item>
                  <ion-label color="secondary" ></ion-label>
            </ion-item>
      </ion-list>
      <ion-list>
            <ion-list-header class="custom-height">Sound</ion-list-header>
            <ion-item>
                  <ion-label color="secondary" ></ion-label>
            </ion-item>
      </ion-list>
      <ion-list>
            <ion-list-header class="custom-height">Shot Time(Min)</ion-list-header>
            <ion-item>
                  <ion-label color="secondary" ></ion-label>
            </ion-item>
      </ion-list>
      <ion-list>
            <ion-list-header class="custom-height">Preparetion Time(Min)</ion-list-header>
            <ion-item>
                  <ion-label color="secondary" ></ion-label>
            </ion-item>
      </ion-list>

 

</ion-content>