
<ion-header [translucent]="true">
  <ion-toolbar style="background-color: #0095fc;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-icon name="arrow-back-outline" (click)="backicon()"></ion-icon>
    </ion-buttons>
    <ion-title>SlugLines</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let scene of documentscens">
  <div *ngFor="let scenes of scene.scenesList">
    <div *ngFor="let sluglineList of scenes.scene_body ">
     <ion-card (click)="shotlists(sluglineList.slugline_id,scenes.scene_id)" >
        <ion-card-header>
          <ion-card-subtitle>{{scenes.scene_heading.numbering}}.{{sluglineList.slugline_heading.numbering}}</ion-card-subtitle>
          <ion-card-title>{{sluglineList.slugline_heading.content.en}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
